body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#moveableGif {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}
